.wrapper {
  width: 100%;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  padding-right: 1.2rem;
  /* align-items: center;
    justify-content: center; */
}
.content {
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-left: 15px solid;
}
.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}
.subtitle,
.date {
  font-size: 1.2rem;
  color: #4f4f4f;
}
.date {
  font-size: 1rem;
}
.icon,
.icon1 {
  width: 16px;
  height: 16px;
}
.icon {
  padding-right: 2rem;
  /* background-color: #fc7717;
  color: #fc7717; */
}
.details {
  display: flex;
  justify-content: start;
  align-items: first baseline;
}
.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.action_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.ViewMore {
  margin: 0.5rem 1.2rem;
}
