.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.datePicker {
  border: 1px solid #000;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding-left: 3rem !important;
}
.icon {
  position: absolute;
  top: 40px;
  z-index: 1;
  align-items: center;
  display: flex;
  right: 10px;
}

.icon_calendar {
  position: absolute;
  top: 40px;
  z-index: 1;
  align-items: center;
  display: flex;
  left: 10px;
}
