.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.label {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 3px;
}

.date_content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  border: 1px solid #000;
  border-radius: 5px;
  height: 60px;
  padding: 0 2.5rem;
}
