* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-container {
  border-radius: 1.5625rem;
  padding: 1.5625rem 0.9375rem;
  background-color: #fff;
  text-align: center;
  flex-basis: calc(40% - 1rem);
  margin-top: 1rem;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pimg {
  width: 6.25rem;
  height: 6.25rem;
  box-shadow: horizontal-offset vertical-offset blur-radius spread-radius color;
  border-radius: 50%;
  /* margin-left: 7.5rem; */
  /* position: absolute; */
}
.mainContainer {
  padding: 1rem;
  background-color: #e6d6d6a0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 3rem; /* Increase the gap between cards */
}

.nav-bar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}
nav {
  background-color: #fff;
  border-radius: 5px;
  display: inline-block;
}
.nav-bar input {
  border-radius: 0.3125rem;
  width: 25rem;
  padding: 0.5rem;
  border: none;
}
.icon {
  background-color: #fff;
  border-radius: 0.3125rem;
  display: inline-block;
  padding: 0.625rem;
  vertical-align: middle;
}
.iconContainer {
  display: flex;
}
@media only screen and (max-width: 1024px) {
  /* for tablets */
  .card-container {
    flex-basis: calc(40% - 1rem);
  }
}

@media only screen and (max-width: 600px) {
  /* for mobile phone */
  .mainContainer {
    flex-direction: column;
    gap: 1.3rem;
  }
}
