.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  justify-items: center;
  width: 100%;
}
.form-group {
  margin-bottom: 1rem;
  max-width: 95%;
  width: 95%;
}
input[type='text'],
textarea,
select {
  border-radius: 6.99px;
  border: 1px solid #000;
  width: 100%;
  color: #000;
  outline: 0;
  min-width: 50%;

  font-weight: 400;
  font-size: 1rem;
  /* padding-left: 5.2rem; */
  padding-left: 15px;
  box-sizing: border-box;
  transition: border 3s, box-shadow 3s;
  height: 50px;
}
/* input[type='text']:focus {
  box-shadow: 0 0 0 5px #b9d3fa;
} */
select {
  cursor: pointer;
}
.label {
  color: #000;
  /* font-size: 2.2rem; */
  font-weight: 500;
}
.grid-item:last-of-type {
  grid-column: span 2;
  width: 100%;
}
textarea {
  height: 14rem;
  /* padding: 15px; */
}

.tuitionTitle {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  /* for tablets */
  .container {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  /* for mobile phone */
  .container {
    grid-template-columns: 100%;
    width: 90%;
  }
  .grid-item:last-of-type {
    grid-column: span 1;
    width: 100%;
  }
  input[type='text'],
  textarea,
  select {
    padding-left: 7px;
  }
}
